<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" 
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
						http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
						http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/data/jpa 
						http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
						http://cxf.apache.org/jaxws 
						http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		
		<property name="jdbcUrl" value="jdbc:oracle:thin:@192.168.87.200:1521:ORCL"></property>
		<property name="user" value="citcast252_team9"></property>
		<property name="password" value="citcast252_team9"></property>
		
	</bean>
	
	
	<!-- spring整合jpa -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 将来扫描包下实体 -->
		<property name="packagesToScan" value="cn.itcast.crm.entity"></property>
		<!-- 持久层提供者:Hibernate -->
		<property name="persistenceProvider">
			<bean class="org.hibernate.ejb.HibernatePersistence"></bean>
		</property>
		<!-- jpaVendorAdapter适配器 -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="ORACLE"/>
				<property name="databasePlatform" value="org.hibernate.dialect.Oracle10gDialect"/>
				<property name="generateDdl" value="true"/> <!-- 自动建表 -->
				<property name="showSql" value="true"/> <!-- 显示sql语句 -->
			</bean>
		</property>
	</bean>
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean>
	
	<!-- 事务通过注解方式管理:@Transaction -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 只扫描service，action对象通过注解创建 -->
	<context:component-scan base-package="cn.itcast.crm.service,cn.itcast.crm.action"></context:component-scan>
	
	<!-- sprign-data-jpa ,dao对象配置  base-package:扫描包下接口,将来在包下只有接口，运行时期针对接口产生代理对象完成增删改查 -->
	<jpa:repositories base-package="cn.itcast.crm.dao"></jpa:repositories>
	
	<!-- 配置客户service对象 -->
	<bean id="customerService" class="cn.itcast.crm.service.impl.CustomerServiceImpl">
	</bean>
	
	<!-- 发布服务 -->
	<jaxws:server id="myServer" address="/customer">
		<jaxws:serviceBean>
			<ref bean="customerService"/>
		</jaxws:serviceBean>
	</jaxws:server>
	
</beans>